body {
    min-height:100%;
    background-color: #263238;
}

.text-center{
  text-align: center;
}

.space-bot{
  margin-bottom: 0.875rem;
}

.space-top{
  margin-top: 0.875rem;
}

/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.625rem;
    text-align: center;
}

/* Sign Up */

.container {
    max-width: 10.0rem;
    max-height: 2.5rem;
    margin-top: 0.25rem;
}

.alert-danger{
	text-align: center;
}

.signup-screen {
	  padding: 0.5rem;
    padding-bottom: 1.0rem;
    border-radius: 0.125rem;
    background-color: #2c3940;
    box-shadow: 0 0.025rem 0.15rem rgba(0,0,0,.3);
    color: white;
}

.btn{
  border-radius: 0.05rem;
}

.cancel{
  background-color: #df405a;
}

.done{
  background-color: #5CAB7D;
}

.done:hover{
  background-color: #6dc793;
}

.done:focus{
  background-color: #6dc793;
}

.cancel:hover{
  background-color: #f0435f;
}

.cancel:focus{
  background-color: #f0435f;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 0.05rem solid #e74c3c;
    border-radius: 0.075rem;
}

/* Error Box */

.alert{
  padding: 0.375rem;
  margin-bottom: 0.5rem;
  border: 0.025rem solid transparent;
  border-radius: 0.05rem;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;

}

.help-block {
    font-size: 0.3rem;
    color: white
}

.active {
  top: -1.2rem;
}


.done {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
  margin-right: 0.075rem;
}

.success-done {
  background-color: #5CAB7D !important;
}
