.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1050;
    opacity: 0;
    transition: all .5s ease-out 0s;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    .dialog {
        width: 300px;
        height: 200px;
        position: relative;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        border-radius: 4px;
        background-color: #fff;
        margin: 30px auto;
        top: 50%;
        margin-top: -100px;
        transform: translate(0, -40%);
        transition: all .5s ease-out 0s;
        .dialog-header {
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            h3, span {
                display: inline-block;
            }
            span {
                float: right;
                margin-right: 10px;
                overflow: hidden;
                line-height: 58px;
                cursor: default;
                font-size: 18px;
            }
        }
    }

}
.in {
    opacity: 1;
    .dialog {
        transform: translate(0, 0);
    }
}
