.collect {
    display: inline-flex;
    position: absolute;
    right: 0;
    width: 0.5rem;
    height: 0.75rem;
    > div {
        width: initial !important;
        right: -0.375rem !important;
    }
}

.all-comment {
    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
    }
}
