.personal-introduce {
    margin-bottom: 56px;
    .header-msg {
        height: 100px;
        .avatar {
            display: inline-flex;
            width: 80px;
            position: absolute;
            height: 100px;
            align-items: center;
            justify-content: center;
        }
        .quantity-statistics {
            display: flex;
            margin-left: 80px;
            height: 100%;
            .qualitys {
                width: 100%;
                .qual-top {
                    display: flex;
                    justify-content: space-around;
                    height: 70%;
                    align-items: center;
                    .one, .two, .three {
                        p:first-child {
                            font-weight: 700;
                        }
                        p:last-child {
                            color: #999;
                            font-size: 1rem;
                        }
                    }
                }
                .qual-botom {
                    display: flex;
                    height: 30%;
                    padding: 0 20px;
                    .attention {
                        width: 80%;
                        border: 1px solid #ddd;
                        text-align: center;
                        line-height: 30px;
                        font-size: 1.2rem;
                        color: #000;
                        border-radius: 4px;
                    }
                    .drop-down {
                        margin-left: 5px;
                        border: 1px solid #ddd;
                        width: 30px;
                        line-height: 30px;
                        font-size: 1.2rem;
                        text-align: center;
                        border-radius: 4px;
                        img {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .text-introduation{
        padding: 15px;
        line-height: 20px;
        .name {
            font-size: 2rem;
            font-weight: 500;
        }
        .decoration {
            font-size: 1.8rem;
        }
        .translation {
            color: #999;
        }
        .link-href {
            color: blue;
            opacity: 0.8;
        }
        .obseration {
            color: #999;
            font-size: 1.2rem;
            .obser {
                color: #000;
            }
        }
    }

    .photo-show {
        nav {
            height: 40px;
            ul {
                height: 100%;
                display: flex;
                list-style: none;
                justify-content: space-around;
                align-items: center;
                border-top: 1px solid #ececec;
            }
        }
    }
}

.pull-load-footer-default  {
    position: relative;
    margin-top: -125px;
    font-size: 20px;
    i {
        font-size: 1.5rem !important;
        width: 2em !important;
        height: 2em !important;
    }
}
