<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="shortcut icon" href="../../../img/facebook.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>material home</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <main id="material-home"></main>
    <script src="../../../dist/scripts/common.js"></script>
    <script src="../../../dist/scripts/material-home.js"></script>
</body>
</html>
