*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  /*overflow: hidden;*/
}
@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}
.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

input, button {
  outline: none;
  border: none;
}

.material-home-class, .home-page {
  height: 100vh;
}

/*.home-page ul li:nth-child(2) a {
  text-decoration: none;
}*/

/*.home-page ul li:nth-child(2) a div div button div div {
  height: 40px !important;
  margin-top: 8px;
  text-transform: initial;
  font-size: 3rem;
}*/

.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0.025rem 0.025rem 0.025rem 0.05rem rgba(0, 0, 0, 0.12) !important;
  z-index: 1000;
}

.home-top {
  height: 1.0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0.025rem 0.025rem, rgba(0, 0, 0, 0.12) 0px 0.025rem 0.025rem;
}

.home-top a {
  display: inline-flex;
  height: 100%;
  align-items: center;
  margin: 0;
  width: 12%;
  /*width: 2.5rem;*/
  justify-content: center;
}

.home-top a.topActive {
  border-bottom: 0.05rem solid red;
}

.home-content {
  overflow-y: auto;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.img-shot {
  position: absolute;
  top: 1.125rem;
  left: 0.325rem;
  font-size: 0.35rem;
}

.personal-msg {
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.personal-msg .username {
  margin-left: 0.25rem;
}

.personal-msg span:last-child {
  position: absolute;
  right: 0.25rem;
}

.user-msg {
  float: left;
  display: inline-flex;
  max-width: 3.0rem;
  height: 100%;
  align-items: center;
}

.tabClass {
  text-transform: inherit !important;
}

.icon-oper {
  position: relative;
  margin: 0.125rem 0.375rem;
  border-bottom: 0.025rem solid #ddd;
}

.per-comment, .all-comment, .first-comment, .second-comment {
  text-indent: 0.375rem;
  padding-top: 0.075rem;
  padding-bottom: 0.075rem;
}

.bottom-oper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.425rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-around;
}

.top-oper {
  padding: 0.125rem 0.25rem;
  display: flex;
  justify-content: space-between;
}

.test {
  position: relative;
  padding: 0.375rem 0;
}

.test span:first-child {
  position: absolute;
  left: 0.375rem;
}

.test span:last-child {
  position: absolute;
  right: 0.375rem;
}

/*SliderX*/
ul.slider {
  list-style: none;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: justify;
}
ul.slider li {
  height: 2.5rem;
  display: inline-block;
  width: 40%;
}

ul.slider li a img {
  width: 100%;
  height: 100%;
}

.recommend {
  padding: 0.25rem;
  background: #eee;
  opacity: .9;
}

.recommend p {
  position: relative;
}

.recommend p > label {
  margin-left: 0.2rem;
}

.recommend p label:last-child {
  position: absolute;
  right: 0.2rem;
  color: blue;
  opacity: .8;
}

.add-msg {
  position: absolute;
  display: block;
  width: 100%;
  line-height: 1.0rem;
  text-align: center;
  background: #eee;
}

/*homeSend*/
.homeSend {
  padding: 0.375rem;
  border-bottom: 0.025rem solid #ddd;
  margin: 0 0.25rem;
}

.homeSend span, input {
  font-size: 16px;
}
